#!/bin/sh

# tmux config hash: {{ include "dot_config/tmux/tmux.conf" | sha256sum }}
set -eu

tpm="${HOME}/.config/tmux/plugins/tpm/bin/install_plugins"
if [ ! -x "$tpm" ]; then
  echo "TPM was not installed by chezmoi." >&2
  exit 1
fi

tmux start-server \; set-environment -g TMUX_PLUGIN_MANAGER_PATH "${HOME}/.config/tmux/plugins/"
"$tpm"
